############################################################
# C#/.NET (Core + Framework)
############################################################
bin/
obj/
out/
[Bb]uild/
[Ll]ogs/
*.log
*.cache
*.dbmdl
*.db
*.bak
*.tmp
*.tmp.*
*.swp
*.user
*.suo
*.userosscache
*.sln.docstates
*.pdb

############################################################
# NuGet
############################################################
*.nupkg
*.snupkg
packages/
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets
.nuget/

############################################################
# Rider / IntelliJ
############################################################
.idea/
*.sln.iml
.idea_modules/
.idea/.idea.*
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/httpRequests/

# dotCover
*.dotCover

# Rider/Resharper settings
_ReSharper*/
*.DotSettings.user

############################################################
# Visual Studio
############################################################
.vs/
.vscode/
*.vspscc
*.vssscc
*.sln.ide
*.ncb
*.sbr
*.opensdf
*.sdf
*.cachefile
*.dbmdl
*.ipch/
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

############################################################
# Visual Studio Code
############################################################
.vscode/
.history/
.code-workspace

############################################################
# Test Results
############################################################
TestResults/
*.coverage
*.coveragexml
*.trx

############################################################
# Backup & System Files
############################################################
.DS_Store
Thumbs.db
*.~*
*.orig
*.rej

############################################################
# Environment files
############################################################
.env
.env.*